.search-bar {
  appearance: textfield;
  background-color: 14, 14, 23;
  border-color: 255 , 255, 255;
  box-sizing: content-box;
  color: 255, 255, 255;
  cursor:text;
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 8px;
  text-align: start;
  text-size-adjust: 100%;
  width: 1100;

  
}
.main-page-text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px; 
  margin: 0 auto; 
  }

  .bold-text-template{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    width: 568px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .simple-text-template{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 568px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .special-text-template{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 568px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .special-text-template:hover{
    color:red;
    cursor:pointer;
  }

  .main-button{
    background-color:rgba(97,171,147,255);
    color:white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor:pointer;
    transition: opacity 0.20s;
    }
  
  .main-button:hover{
  opacity:0.8;
    }
  
  .main-button:active{
  opacity:0.6;
    }
  
  .delete-button{
    background-color:rgba(229,56,30,255);
    color:white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    padding-block-end: 5px;
    padding-block-start: 5px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor:pointer;
    transition: opacity 0.20s;
    }
  
  .delete-button:hover{
    opacity: 0.8;
  }
  
  .delete-button:active{
    opacity: 0.6;
  }
  
  .cancel-logout-button{
    background-color:inherit;
    color:grey;
    border-color: rgb(113, 113, 132);
    border-style: solid;
    border-width:2.5px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor:pointer;
    transition: background-color 0.20s, color 0.20s, opacity 0.20s;
    }
  
    .cancel-logout-button:hover{
    background-color:rgb(113, 113, 132);
    color:white;
    opacity: 0.8;
    }
  
    .cancel-logout-button:active{
      opacity: 0.6;
    }

.mainHead {
  
} 
.nav-logo-wrapper {
  
} 

.nav-logo {
 
}
.nav-logo-img {
  
}

.nav-account{
 
}

.nav-account-button {
  
   }

